<section class="family">
    <header class="family__header">
        <h2 class="family__title title__big backdrop__title bottom centered" data-title="part">
            be a part of our fit family
        </h2>
        <div class="family__description">
            <p>Training helps you think and feel better. join us!</p>
        </div>
    </header>
    <div class="family__body container-wide">
        <img src="/src/img/family/1.jpg" alt="training people" class="family__img" loading="lazy">
        <img src="/src/img/family/2.jpg" alt="training people" class="family__img" loading="lazy">
        <img src="/src/img/family/3.jpg" alt="training people" class="family__img" loading="lazy">
        <img src="/src/img/family/4.jpg" alt="training people" class="family__img" loading="lazy">
        <img src="/src/img/family/1.jpg" alt="training people" class="family__img" loading="lazy">
    </div>
</section>