<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kropp Fitness</title>
</head>
<body>
<header class="header">
    <a href="/" class="header__logo">
        <img src="/src/img/logo.png.png" alt="Kropp Logo" class="header__logo-img" loading="lazy">
    </a>
    <nav class="header__menu">
        <ul class="header__menu-list">
            <li class="header__menu-item"><a href="/" class="header__menu-link current">home</a></li>
            <li class="header__menu-item"><a href="/" class="header__menu-link">pages</a></li>
            <li class="header__menu-item"><a href="/" class="header__menu-link">portfolio</a></li>
            <li class="header__menu-item"><a href="/" class="header__menu-link">blog</a></li>
            <li class="header__menu-item"><a href="/" class="header__menu-link">shop</a></li>

        </ul>
    </nav>
    <div class="header__actions">
        <button class="header__book-button button" type="button">
            book now
        </button>
        <button class="header__burger-button" type="button" title="Open menu">
            <span class="vissually__hidden"></span>
            <span class="header__burger-button-line"></span>
            <span class="header__burger-button-line"></span>
            <span class="header__burger-button-line"></span>
        </button>
    </div>
</header>
<main class="content">

