<section class="join-us">
    <div class="join-us__video-wrapper">
        <video
                src=""
                class="join-us__video"
                width="960" height="600"
                poster="/src/img/video-poster.jpg"
        ></video>
        <button class="join-us__play-button" type="button">
            play
        </button>
    </div>
    <div class="join-us__body container">
        <h2 class="join-us__title">join us</h2>
        <form class="join-us__form">
            <header class="join-us__form-header">
                <h3 class="join-us__form-title backdrop__title bottom centered title__big" data-title="Go!">
                    start here
                </h3>
                <div class="join-us__form-subtitle">fill the form below to start your journey</div>
            </header>
            <div class="join-us__form-body">
                <label for="username" class="visually-hidden">Name</label>
                <input type="text" class="join-us__form-input input" id="username" placeholder="Name">
                <label for="email" class="visually-hidden">Email</label>
                <input type="email" class="join-us__form-input input" id="email" placeholder="Email">
                <button class="join-us__button button transparent" type="submit">Subscribe</button>
            </div>
        </form>
    </div>
</section>