<section class="location container-wide">
    <img src="/src/img/loaction-map.jpg" alt="Branches on the map" class="location__map-image" loading="lazy">
    <div class="location__body">
        <h2 class="location__title tittle__medium backdrop__title centered" data-title="Look">
            Find us near you
        </h2>
        <div class="location__description">
            <p>Nec suas signiferumque id. An eum labore commodo principes. Usu diam noluisse cu, nam adipisci</p>
        </div>
        <a href="/" class="location__button button transparent">
            view more
        </a>
    </div>
</section>