<section class="trainings container-wide">
    <h2 class="visually-hidden">Types of training</h2>
    <ul class="trainings__list">
        <li class="trainings__item">
            <img src="/src/img/trainings/1.svg" alt="" loading="lazy">
            <h3 class="trainings__item-title">Maxpump</h3>
        </li>
        <li class="trainings__item">
            <img src="/src/img/trainings/2.svg" alt="" loading="lazy">
            <h3 class="trainings__item-title">Aron gym</h3>
        </li>
        <li class="trainings__item">
            <img src="/src/img/trainings/3.svg" alt="" loading="lazy">
            <h3 class="trainings__item-title">Fit & Tone</h3>
        </li>
        <li class="trainings__item">
            <img src="/src/img/trainings/4.svg" alt="" loading="lazy">
            <h3 class="trainings__item-title">Forza</h3>
        </li>
        <li class="trainings__item">
            <img src="/src/img/trainings/5.svg" alt="" loading="lazy">
            <h3 class="trainings__item-title">balance fitness</h3>
        </li>
        <li class="trainings__item">
            <img src="/src/img/trainings/6.svg" alt="" loading="lazy">
            <h3 class="trainings__item-title">body sculpt</h3>
        </li>

    </ul>
</section>