.backdrop {
  &__title {
    position: relative;
    z-index: 2;
  }

  &__title::before {
    content: "";
    display: block;
    position: absolute;
    right: calc(100% + 8px);
    width: 26px;
    aspect-ratio: 1;
    background: url("/src/icons/plus.svg") center/contain no-repeat;
  }

  &__title::after {
    content: attr(data-title);
    position: absolute;
    z-index: -2;
    //top: -0.47em;
    top: -0.3em;
    left: -0.63em;
    font-size: 2.8em;
    line-height: 1;
    color: transparent;
    font-family: var(--font-family-accent);
    -webkit-text-stroke: 1px var(--color-light-gray);
    text-stroke: 1px var(--color-light-gray);
  }

  &__title.centered::after {
    left: 50%;
    translate: -50% 0;
    //top: -0.51em;
    top: -0.25em;

  }

}
