.button {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  white-space: nowrap;
  border: none;
  background-color: var(--color-light);
  border-radius: var(--border-radius);

  &:hover {
   background-color: var(--color-light-gray);
   transition-duration: var(--transition-duration);
  }

}



