.button {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  white-space: nowrap;
  border: none;
  text-decoration: none;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  @media screen and (max-width: 768px) {
    padding-inline: 18px;
  }

  &:hover {
   background-color: var(--color-light-gray);
   transition-duration: var(--transition-duration);
  }

  &.transparent {
    position: relative;
    height: var(--input-height);
    padding-inline: 31px 81px;
    background-color: transparent;
    border: var(--border);
  }

  &.transparent::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    background: url("/src/icons/arrow-topright.svg") center/70% no-repeat;
    border: var(--border);
    border-radius: 50%;
  }

  &.transparent:hover {
    color: var(--color-dark);
    background-color: var(--color-light-gray);
  }
}




