.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-hight);
  column-gap: 20px;
  padding-inline: 32px;
  background-color: var(--color-dark-alternative);
  @media screen and (max-width: 992px) {
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
    padding-inline: 15px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 10px;
  }

  &__menu {
    @media screen and (max-width: 992px) {
      order: 1;
      flex-basis: 100%;
    }
  }

  &__menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    @media screen and (max-width: 992px) {
      height: 32px;
    }
    @media screen and (max-width: 768px) {
      column-gap: 24px;
    }
  }

  &__menu-link {
    display: inline-flex;
    align-items: center;
    height: var(--header-hight);
    column-gap: 7px;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    @media screen and (max-width: 992px) {
      height: 50px;
      padding-top: 10px;
    }
    @media screen and (max-width: 768px) {
      height: 32px;
    }
  }

  &__menu-link.current::after {
    content: "";
    width: 5px;
    aspect-ratio: 1;
    background-color: currentColor;
    border-radius: 50%;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__actions {
    align-items: center;
    display: flex;
    column-gap: 40px;
    @media screen and (max-width: 768px) {
      column-gap: 15px;
    }
  }

  &__burger-button {
    display: inline-flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1;
    padding-left: 8px;
    color: var(--color-light);
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
  }

  &__burger-button:hover {
    color: var(--color-light-gray);
    border-color: currentColor;
  }

  &__burger-button-line {
    width: 6px;
    height: 1px;
    background-color: currentColor;
    box-shadow: 16px 0 0 currentColor;
  }

}
